{% extends 'main.html' %}

{% block page_content %}
  <p><form action='{% url add %}'>
    <input type='submit' value='Add User'>
  </form></p>

  <p>Current Users:</p>
  <ul>
    {% for user in user_list %}
      <li>
        <form method='post' action='{% url delete user.username %}'>
          {% csrf_token %}
          {{ user.name }}
          - <a href='{% url rss user.username %}'>{{ user.username }}</a>
          - <input type='submit' value='Delete'>
        </form>
      </li>
    {% endfor %}
  </ol>
{% endblock %}
