{% extends 'main.html' %}

{% block page_content %}
  <p><form action='{% url add %}'>
    <input type='submit' value='Add User'>
  </form></p>

  <p>Current Users:</p>
  <table>
    {% for user in user_list %}
      <tr>
        <td>
          <a href='{{ user.link }}'><img src='{{ user.profile_pic }}'></a>
        </td>
        <td>
          {{ user.name }}
        </td>
        <td>
          <a href='{% url rss user.username %}'>{{ user.username }}</a>
        </td>
        <td>
          <form method='post' action='{% url delete user.username %}' style='margin: 0'>
            {% csrf_token %}
            <input type='submit' value='Delete'>
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>

  <p>
    <a href='{% url tweets %}'>Refresh Tweets</a> |
    <a href='{% url users %}'>Refresh Users</a>
  </p>
{% endblock %}
